﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LatihanLayout";
}

<h1 class="test" id="test2">List Pokemon</h1>

@*<ul id="listPoke">
    <li></li>
</ul>*@

<!-- Button trigger modal -->


<table class="table table-striped">
    <thead class="table-dark table-hover">
        <tr>
            <th>No</th>
            <th>Nama</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="tbodyPoke"></tbody>

</table>


<!-- Modal -->
<div class="modal fade" id="modalPoke" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">Pokemon</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="pokeDetails text-center w-100 p-5">
                    <h3 class="text-center" id="pokeName"></h3>
                    <img class="border border-secondary border border-2 bg-secondary h-auto p-4 mx-auto d-block" id="pokeImage" src="" alt="Pokemon">
                    <div class="cards">
                    <p class="" id="pokeAbility"></p>
                    <p class="" id="pokeMoves"></p>
                    <p class="" id="pokeHP"></p>
                    <p class="" id="pokeWeight"></p>
                    <p class="" id="pokeHeight"></p>
                    
                    </div>
                    <div class="cards-2">
                        <p class="" id="pokeATK"></p>
                        <p class="" id="pokeDEF"></p>
                        <p class="" id="pokeSATK"></p>
                        <p class="" id="pokeSDEF"></p>
                    </div>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
</div>

@section LatihanAjax{
    <script src="~/js/Latihan.js"></script>
}